body {
    background-color: deeppink;
    padding: auto;
}

/* Element Selector */

p {
    color: crimson;
    background-color: antiquewhite;
}

h2 {
    color: brown;
    background-color: yellow;
}

/* ID SELECTOR */

#hID {
    color: red;
    background-color: aqua;
}

#pID {
    color: blue;
    background-color: chartreuse;
}

/* CLASS SELECTOR */

.h2Class {
    color: chartreuse;
    background-color: black;
}

.pClass {
    color: brown;
    background-color:beige;
}

/* UNIVERSAL SELECTOR */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* DESCENDANT SELECTOR */

#descSel p {
    color: black;
    background-color: blueviolet;
}

/* DIRECT CHILD SELECTOR */

#dirSel > p {
    color: chartreuse;
}

