.outer-container{
    width: 400px;
    height: 400px;
    background-color: chartreuse;
    margin: 118px auto;
}

.inner-container{
    color: blue;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: fuchsia;

    transform: scale(1.2);  /* scaling along all axis */
    transform: scaleX(1.5); /* scaling along x - axis */
    transform: scaleY(2);  /*  scaling along y - axis */
    transform: scaleZ(0.5); /* scaling along z - axis */

    transform: skew(-25deg, 45deg);

    transform: translate(20px , 60px);

    transform: rotate(60deg);
    transform: rotateX(20deg);
    transform: rotateY(40deg);
    transition: 0.6s ease;

}

.inner-container:hover{
    transform: rotate(-25deg);
    font-size: 3rem;
}