body {
    background-color: orangered;
}

.head {
    color: darkblue;
}

.head span {
    color: red;
}

#bglime {
    background-color: blanchedalmond;
}

p {
    color: white;
}

#para {
    color: green;
}

#para span {
    color: black;
    font-size: larger;
}

li span {
    color: chartreuse;
}

li a {
    color: blue;
}

li {
    color: white;
}

ol li span {
    color: blue;
}

ol li b {
    color: red;
}

ol > li {
    color: black;
}