.container {
    /* height: 500px;
    width: 500px; */
    border: 1px solid red;
    /* overflow: visible; default */
    /* overflow: hidden;  hide the extra text which is not in the border */
    /* overflow: scroll; create a scroll bar*/
    /* overflow: auto; */

}

.img1 {
    float: left;
}

.img2 {
    float: right;
}

.subcontainer {
    overflow: auto;
}

.p1 {
    clear: left;
}

.p2 {
    clear: both;
}