*{
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
}

nav{
    background-color: aqua;
}

h3 {
    color: blue;
    background-color: aqua;
    display: inline;
}

p {
    border: 1px solid black;
    display: block;
    color: brown;
}

ul {
    list-style: none;
    text-align: end;
    padding: 30px;
}

img {
    text-align: left;
    display: inline-block;
}

ul > li > a {
    text-decoration: none;
}

li {
    display: inline;
}